html {
    font-size: 30px;
    font-family:"caveat", sans-serif;
    background-color: #b9bec4;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    text-align: center;
}
h2{
    margin: 3;
    padding: 20px 0;
    color: rgb(116, 111, 104);
    text-shadow: 3px 3px 1px black;
}

p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 600PX;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
}